<div class="table-view">
  <div class="row header">
    <span>ID / Company / Contact Name / Contact Title</span>
    <span>Email</span>
    <span>Address / City / Postal Code / Country</span>
    <span>Phone / Fax</span>
  </div>

  <div class="row" ng-repeat="contact in ab.AddressBook.Contact | filter:searchText as results">
    <span>
      <div>{{ contact.CustomerID }}</div>
      <div>{{ contact.CompanyName }}</div>
      <div>{{ contact.ContactName }}</div>
      <div>{{ contact.ContactTitle }}</div>
    </span>

    <span>{{ contact.Email }}</span>

    <span>
      <div>{{ contact.Address }}</div>
      <div>{{ contact.City }}</div>
      <div>{{ contact.PostalCode }}</div>
      <div>{{ contact.Country }}</div>
    </span>

    <span>
      <div>{{ contact.Phone }}</div>
      <div>{{ contact.Fax }}</div>
    </span>
  </div>

  <div class="empty" ng-if="results.length == 0">No Results Found</div>
  <div class="empty" ng-if="ab == false">Error Loading Data</div>
</div>
